language: python
dist: xenial
sudo: true
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8
env:
  - FALCON_VERSION=">=1.1.0,<2.0.0"
  - FALCON_VERSION=">=2.0.0,<3.0.0"
install:
  - pip install falcon$FALCON_VERSION
  - pip install .[tests]
script: py.test --verbose --flake8 --pylint --cov falguard --cov-fail-under 100
after_success: bash <(curl -s https://codecov.io/bash)
